.header {
  height: 80px;
  background-color: rgb(2, 2, 22);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 140px;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  margin-left: 36px;
  transition: 1s;
}

.header a:hover {
  color: orange;
}
